################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Manage_Files/.vs/Manage_Files/v16/Server/sqlite3
